<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partial/_head') %>
    <title>TinyApp : Url Details</title>
  </head>

  <body>
    <%- include('partial/_header') %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">
          Short URL ID: <a href="/u/<%= id %>"><%= id %></a>
        </p>
      </div>
      <div class="card-footer text-muted">
        <div class="card-header">Edit</div>
        <div class="card-body">
          <form method="POST" action="/urls/<%= id %>?_method=PUT">

            <input type="text" name="longURL" placeholder="<%= longURL %>">

            <button type="submit" class="btn btn-primary">Change</button>
          </form>
        </div>
      </div>
    </div>
    <%- include('partial/_bootstrap') %>
  </body>
</html>