<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partial/_head') %>
    <title>TinyApp</title>
  </head>
  
  <body>
    <%- include('partial/_header') %>
    <main style="margin: 1em;">
      <h3>My URLs</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Short URL ID</th>
            <th scope="col">Redirects</th>
            <th scope="col">Long URL</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for (let id in urls) { %>
            <tr>
              <td>
                <a href="/u/<%= id %>" class="btn btn-primary"><%= id %></a>
              </td>
              <td><%= urls[id].redirects %.</td>
              <td><%= urls[id].longURL %></td>
              <td>
                <form method="GET" action="/urls/<%= id %>">
                  <input class="btn btn-light" type="submit" value="Edit">
                </form>
              </td>
              <td>
                <form method="POST" action="/urls/<%= id %>/delete">
                  <input class="btn btn-danger" type="submit" value="Delete">
                </form>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </main>
    <%- include('partial/_bootstrap') %>
  </body>
</html>